@mixin size($w, $h: $w)
  width: $w
  height: $h

@mixin flex_center
  display: flex
  justify-content: center
  align-items: center

$navheight: 80px
$sliderpointertop: $navheight

html, body
  font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif
  overflow-x: hidden

.nav
  top: 0
  left: 0
  width: 100%
  height: $navheight
  overflow: hidden
  box-shadow: 0 0 5px #333
  white-space: nowrap
.nav-container
  float: none !important

.logo-content-wrap
  padding: .9rem
  padding-right: 2rem
  display: inline-block
  height: 100%
  border-radius: 25px

.logo-icon
  height: $navheight -20px
  width: $navheight
  float: left

.chinese-logo-text
  font-size: 1.6rem

.en-logo-text
  font-size: .8rem

.nav-list
  height: 100%
  margin: 0
  line-height: $navheight

.nav-list li
  display: inline-block
  height: 100%
  transition: .5s ease

.nav-list li a
  border-radius: 1px
  padding-left: 1rem
  padding-right: 1rem
  font-size: 1.1rem
  padding-bottom: .5rem
  color: white
  &:hover
    background-color: #e0e0e0

.logo-text-wrap
  float: left

.brand-logo img
  vertical-align: middle

.logo-text
  font-size: 1rem

.nav-search-input input
  padding: 0 !important

.navbar-button
  float: left
  line-height: $navheight
  color: #111
  font-size: 1.5rem
  margin-left: 1rem

.slider-container
  position: relative
  right: 0
  transition: 0.8s ease
  // transform: translateX(-100%)
  +size(100%, 800px)

.slide-list
  margin-top: 2px
  white-space: nowrap
  +size(100%, 100%)

.slide-item
  display: inline-block
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  +size(100%)

.slide-list .active
  display: block

.slide-item a
  display: block
  +size(100%)

.slide-left
  position: absolute
  top: $sliderpointertop
  bottom: 70px
  width: 4rem
  background-color: transparent
  cursor: pointer
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%)
  opacity: .5
  &:hover
    color: #000000
    opacity: 1
    transition: .5s ease

.slide-left i
  position: absolute
  top: 50%
  left: 1.3rem

.slide-right
  position: absolute
  right: 0
  top:  $sliderpointertop
  bottom: 70px
  width: 4rem
  background-color: transparent
  cursor: pointer
  background-image: linear-gradient(to left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%)
  opacity: .5
  &:hover
    color: #000000
    opacity: 1
    transition: .5s ease

.slide-right i
  position: absolute
  top: 50%
  right: 1.3rem

.slider-point
  display: inline-block
  padding: 1rem
  margin-left: .5rem
  border: 1px #b0bec5 solid
  border-radius: 50%
  cursor: pointer
  &:hover
    background-color: #b0bec5
    transition: .5s ease

.slider-point-container .active
  background-color: #b0bec5

.media-link a
  font-size: 2.5rem
  margin-left: .5rem

.product-type-list h4
  margin: 0
  padding: 1rem
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid
.clear
  clear: both

@media screen and (max-width: 1280px)
  .slider-container
    +size(100%, 500px)

  .slide-left, .slide-right
    bottom: 30px

@media screen and (max-width: 768px)
  .logo-icon
    width: $navheight
  .logo-content-wrap
    display: block
    width: 50%
    text-align: center
    margin: 0 auto
  .logo-content-wrap .logo-icon, .logo-content-wrap .logo-text-wrap
    display: inline-block
    float: none
    height: 100%

  .slider-container
    +size(100%, 400px)

  .slide-left, .slide-right
    bottom: 490px

  .product-container
    width: 100% !important

@media screen and (max-width: 480px)
  .logo-content-wrap
    width: 60%
    padding-left: 0
    padding-right: 1rem
  .slider-container
    +size(100%, 250px)

  .slide-left, .slide-right
    bottom: 250px
